.header{
  &__top{
    background: $blue;
    color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-location{
      font-size: 14px;
      display: flex;
      gap: 14px;
      align-items: center;
    }
    &-right{
      display: flex;
      align-items: center;
      gap: 55px;
      a{
        color: #ffffff;
      }
    }
    &-contacts{
      display: flex;
      align-items: center;
      gap: 40px;
      a{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .email-icon{
      width: 21px;
      height: 15px;
    }
    .phone-icon{
      width: 16px;
      height: 16px;
    }
  }
  .location-icon{
    fill: #fff;
    width: 18px;
    height: 23px;
  }
  &__socials{
    display: flex;
    align-items: center;
    gap: 31px;
    &-link{
      height: 22px;
    }
    svg{
      width: 22px;
      height: 22px;
      fill: #ffffff;
    }
  }
  &__bottom{
    padding-top: 25px;
    padding-bottom: 14px;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header__logo{
      width: 172px;
      margin-top: 12px;
    }
    .nav__list{
      display: flex;
      gap: 39px;
    }
    .nav__link{
      color: $title;
    }
    .consultation__btn{
      padding: 16px 29px;
      background: #F86D6D;
      border-radius: 26px;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
    }
  }
}